<nav id="radial-menu">
  <input type="button" id="toggle-radial" value="" >
  <ul class="level-1">
    <li><a href="#">Menu Item #1</a></li>
        <li><a href="#">Menu Item #2</a></li>
        <li><a href="#">Menu Item #3</a></li>
        <li><a href="#">Menu Item #4</a></li>
        <li><a href="#">Menu Item #5</a>
             <ul class="level-2">
                <li><a href="#">Sub-Menu Item #5.1</a></li>
                <li><a href="#">Sub-Menu Item #5.2</a></li>
                <li><a href="#">Sub-Menu Item #5.3</a>
                    <ul class="level-3">
                        <li><a href="#">Sub-Menu Item #5.3.1</a></li>
                        <li><a href="#">Sub-Menu Item #5.3.2</a></li>
                        <li><a href="#">Sub-Menu Item #5.3.3</a></li>
                        <li><a href="#">Sub-Menu Item #5.3.4</a></li>
                        <li><a href="#">Sub-Menu Item #5.3.5</a></li>
                        <li><a href="#">Sub-Menu Item #5.3.6</a></li>
                        <li><a href="#">Sub-Menu Item #5.3.7</a></li>
                        <li><a href="#">Sub-Menu Item #5.3.8</a></li>
                    </ul>
                </li>
                <li><a href="#">Sub-Menu Item #5.4</a></li>
                <li><a href="#">Sub-Menu Item #5.5</a></li>
                <li><a href="#">Sub-Menu Item #5.6</a></li>
                <li><a href="#">Sub-Menu Item #5.7</a></li>
                <li><a href="#">Sub-Menu Item #5.8</a></li>
             </ul>
        </li>
        <li><a href="#">Menu Item #6</a></li>
        <li><a href="#">Menu Item #7</a></li>
        <li><a href="#">Menu Item #8</a></li>                       
    </ul>
</nav>